@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #37003c;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    overflow: hidden; 
}

.pattern {
    inset-block-start: 50%;
    margin-inline-end: -5rem;
    position: fixed;
    transform: rotate(18deg);
    z-index: -1;

}

.header {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.gameTicker {
    inset-block-start: 60%;
    inset-inline: 50%;
    margin-inline-end: 3rem;
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(100% - 6rem);
}

.logo {
    height: 200px;
}

.season {
    margin-block-end: 3rem;
    margin-inline-start: 3rem;
}

.nav {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.1rem;;
    font-weight: 700;
    height: 36px;
    inset-block-start: 50%;
    line-height: 36px;
    opacity: .1;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    user-select: none;
    width: 36px;
}

.nav--prev {
    inset-inline-start: 0;
}

.nav--next {
    inset-inline-end: 0;
}

.nav--active {
    opacity: 1;
}

.fixtures {
    overflow: hidden;
    margin-inline: 3rem;
    padding: .75rem 0;
}

.fixtures__track {
    display: flex;
    transition: all 1s ease-in;
}

.panel {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 6px;
    container-name: panel;
    container-type: inline-size;
    flex-shrink: 0;
    font-size: 13px;
    margin-inline: 5px;
    overflow: hidden;
    padding: .75rem;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    width: calc((100% / var(--visible-panels)) - 10px);
}

.panel__badge {
    background: url('../images/badges-sprite.png');
    display: block;
    flex-shrink: 0;
    height: 25px;
    width: 25px;
}

.badge--arsenal {
    background-position: -25px 0;
}

.badge--astonVilla {
    background-position: -50px 0;
}

.badge--barnsley {
    background-position: -75px 0;
}

.badge--bournemouth {
    background-position: -50px -25px;
}

.badge--brentford {
    background-position: 0 -175px;
}

.badge--brighton {
    background-position: -125px -150px; 
} 

.badge--burnley {
    background-position: -100px -25px; 
}

.badge--chelsea {
    background-position: -25px -50px; 
}

.badge--crystalPalace {
    background-position: -75px -50px; 
}

.badge--everton {
    background-position: -125px -50px; 
}

.badge--fulham {
    background-position: 0 -75px; 
}

.badge--leeds {
    background-position: -75px -75px; 
}


.badge--leicester {
    background-position: -100px -75px; 
}

.badge--liverpool {
    background-position: -125px -75px; 
}

.badge--luton {
    background-position: -25px -175px; 
}

.badge--manchesterCity {
    background-position: 0 -100px; 
}

.badge--manchesterUnited {
    background-position: -25px -100px;
}

.badge--newcastle {
    background-position: -75px -100px;
}

.badge--nottinghamForest {
    background-position: -125px -100px;
}

.badge--sheffieldUnited {
    background-position: -100px -125px;
}

.badge--southampton {
    background-position: -150px 0;
}

.badge--spurs {
    background-position: -150px -100px;
}  

.badge--westHam {
    background-position: -25px -150px;
}

.badge--wolves {
    background-position: -100px -150px;
}






.panel__venue {
    font-size: 14px;
    font-weight: 600;
    margin-block-end: .375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel__date {
    font-size: 12px;

    margin-block-end: .75rem;
    opacity: .5;
}

.panel__result {
    align-items: center;
    display: flex;
    gap: .75rem;
    justify-content: space-between;
}

.panel__result:first-child {
    margin-block-end: .375rem;;
}

.panel__team {
    display: none;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel__score {
    background-color: #f4e3f5;
    border-radius: 4px;
    flex-shrink: 0;
    font-size: 1.2rem;
    font-weight: 600;
    height: 32px;
    width: 32px;
}

@container panel (min-width: 140px) {
    .panel__team {
        display: block;
    }
}


@media all and (min-width: 768px) {
    .header {
        align-items: flex-end;
        flex-direction: row;
    }

    .gameTicker {
        inset-block-start: 50%;
    }
}